<h1><%= t "orders.title" %></h1>
<div class="panel panel-default panel-table">
  <div class="panel-body order-items">
      <%= render "orders", collection: @orders %>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col col-xs-8">
        <%= will_paginate @orders %>
      </div>
    </div>
  </div>
</div>
