<div class="rating">
  <div>
    <p>
      <%= rating.user_name %>
      <small>
        <%= l rating.created_at, format: :time_format %>
      </small>
      <span class="your_score color-red">
        <% rating.starts.to_i.times do %>
          <i class="fa fa-star"></i>
        <% end %>
      </span>
    </p>
    <p><%= rating.content %></p>
  </div>
</div>
