//Color
$accent_color: #e14e42;
$text_color: #696969;
$foreground_accent_color: #fff;
$dark_color: #333;
$footer_bg: #efefef;
$border_color: #d7d7d7;

//Font
$body_font_size: 18px;
$body_font_weight: 400;
$h1_font_size: 36px;
$h2_font_size: 24px;
$h3_font_size: 21px;
$h4_font_size: 18px;
$h5_font_size: 16px;
$h6_font_size: 14px;
