<li><%= link_to subcategory.name, fetch_items_path(cat_id: subcategory.id), remote: true %></li>
<% if subcategory.subcategories.present? %>
  <ul>
    <%= render partial: "categories/subcategory", locals: {subcategories: subcategory.subcategories} %>
  </ul>
<% end %>
