  <div class="row">
    <div class="products-wrap d-flex">
      <article class="product-item-wrap col-md-4 col-sm-6">
        <div class="product-item-inner">
          <div class="product-thumb">
            <a href="#">
              <%= image_tag("product-53.jpg", class: "product-image") %>
            </a>
          </div>
          <div class="product-info">
            <h4 class="product-title">Black Tees</h4>
            <span class="price">$39.99</span>
          </div>
          <div class="product-action">
            <a class="btn-accent" href="#">Add to card</a>
          </div>
        </div>
      </article>
      <article class="product-item-wrap col-md-4 col-sm-6">
        <div class="product-item-inner">
          <div class="product-thumb">
            <a href="#">
              <%= image_tag("product-53.jpg", class: "product-image") %>
            </a>
          </div>
          <div class="product-info">
            <h4 class="product-title">Black Tees</h4>
            <span class="price">$39.99</span>
          </div>
          <div class="product-action">
            <a class="btn-accent" href="#">Add to card</a>
          </div>
        </div>
      </article>
      <article class="product-item-wrap col-md-4 col-sm-6">
        <div class="product-item-inner">
          <div class="product-thumb">
            <a href="#">
              <%= image_tag("product-53.jpg", class: "product-image") %>
            </a>
          </div>
          <div class="product-info">
            <h4 class="product-title">Black Tees</h4>
            <span class="price">$39.99</span>
          </div>
          <div class="product-action">
            <a class="btn-accent" href="#">Add to card</a>
          </div>
        </div>
      </article>
    </div>
  </div>
