<% provide :page_title, t("product")%>
<div class="products-wrapper row">
  <div class="products-wrap d-flex col-md-10">
    <%= render partial: "product", collection: @products, as: :product %>
  </div>
  <div class="col-md-2">
    <%= render "sidebar_menu" %>
  </div>
</div>
