<ul class="main-menu">
  <li>
    <h4 class="sub-menu">
      <a data-toggle="collapse" href="#collapseExample">
        <%= t "users.index.title" %>
        <i class="fa fa-angle-down"></i>
      </a>
    </h4>
    <div class="collapse" id="collapseExample">
      <ul class="closed">
        <li><%= link_to t("users.index.title"), admin_users_path %></li>
        <li><%= link_to t("admin.add_user"), new_admin_user_path %></li>
      </ul>
    </div>
  </li>
</ul>
