<nav class="navbar navbar-expand-lg bg-dark fixed-top">
  <a class="navbar-brand" href="#"><%= t "home" %></a>
  <button class="navbar-toggler" type="button"
  data-toggle="collapse" data-target="#admin-menu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="admin-menu">
    <ul class="navbar-nav navbar-right">
      <li class="nav-item">
       <%= link_to t("logout"), logout_path, method: :delete %>
      </li>

    </ul>
  </div>
</nav>
