<nav class="navbar navbar-expand-lg bg-dark fixed-top">
  <%= link_to t("home"), admin_root_path, class: "navbar-brand" %>
  <div class="collapse navbar-collapse justify-content-end" id="admin-menu">
    <%= render "layouts/admin_menu" %>
  </div>
</nav>
