<div class="navbar-collapse collapse right" id="basket-overview">
  <%= link_to carts_path, class: "btn btn-primary navbar-btn" do %>
    <span class="badge" id="number_product_cart">
    <i class="fa fa-shopping-cart"></i>
      <%= session[:cart].size unless is_empty_cart? %>
    <% end %>
</div>
