<footer>
  <div class="container footer-wrap">
    <div class="row">
      <div class="col-md-3">
        <a href="#"><%= image_tag("logo.png", class: "logo") %></a>
      </div>
      <div class="col-md-3">
        <h3 class="footer-title">About US</h3>
        <ul class="footer-menu">
          <li><a href="#">About us</a></li>
          <li><a href="#">Policies</a></li>
          <li><a href="#">Offices</a></li>
          <li><a href="#">Work with us</a></li>
        </ul>
      </div>
      <div class="col-md-3">
         <h3 class="footer-title">Shop Guide</h3>
        <ul class="footer-menu">
          <li><a href="#">Payments</a></li>
          <li><a href="#">Return</a></li>
          <li><a href="#">Gift cards</a></li>
          <li><a href="#">Terms</a></li>
        </ul>
      </div>
      <div class="col-md-3">
         <h3 class="footer-title">New Letter</h3>
         <input type="text" name="Email">
         <button class="btn btn-accent">Submit</button>
      </div>
    </div>
  </div>
</footer>
